.box17{
    margin: 2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    z-index: 0;
    margin-left: 20%;
    margin-right: 20%;
    color: black;
}
.box17::before, .box17::after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
    
}
.box17::before{left: 10px;}
.box17::after{right: 10px;}
.box17 p {
    margin: 3%;
    padding: 0;
}

body{
    text-align: center;

}
p{
    margin-top: 3%;
}
@media screen and (max-width: 480px){
    p{
        font-size: 40%;
        margin-top: 10%;
        
    }
}
