@charset "utf-8";


body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #51c0f3;
  box-sizing: border-box;
}

header {
  margin-left: 5%;
  text-align: left;
  align-items: center;
  display:flex;
}

h1 {
  font-size: 50px;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

.btn--orange2{
  visibility: hidden;
}


p{
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  margin-left: 10%;
  align-items: center;
  display:flex;
}

.sitasen{
  border-bottom: 5px solid white;
  margin-bottom: 3%;
  margin-top: 3%;
  margin-right: 56%;
}



html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

 .btnda{
  color: #ffffff;
  font-size: 100%;
  text-decoration: none;
}

  .square1 {
	width: 800px;
	height: 800px;
	background: #ffffff;
  border-radius: 40px 40px 40px 40px;
  transform:rotate(30deg);
  float:right;
  margin-top: -10%;
  margin-right: 8%;
}

.square2 {
	width: 500px;
	height: 500px;
	background: #ffffff;
  border-radius: 40px 40px 40px 40px;
  transform:rotate(70deg);
  float:left;
  margin-top: 20%;
}


  /* ボタン全体 */
  .flowbtn10{
    display:inline-block;	
    font-size:35px;
    text-decoration:none;
    transition:.5s;
    color:rgb(255, 255, 255);	
    margin-top: 25%;
    z-index: 100;
    }
    .flowbtn10 .fa-github:hover{
        color: #8f94ff;
    }

    /* インスタ・pocket・ラインだけ少し大きく */
    .flowbtn10 .fa-instagram,.flowbtn10 .fa-get-pocket,.flowbtn10 .fa-get-pocket,.flowbtn10 .fa-line{
    font-size:38px;
    }
    /* Twitterマウスホバー時 */
    .flowbtn10 .fa-twitter:hover{
    color:#55acee;
    }
    /* YouTubeマウスホバー時 */
    .flowbtn10 .fa-youtube:hover{
    color:#fc0d1c;
    }
    /* メールアイコンマウスホバー時 */
    .flowbtn10 .fa-envelope:hover{
    color:#f3981d;		
    }
    /* ulタグの内側余白を０にする */
    ul.snsbtniti{
    padding:0!important;
    }
    /* アイコン全体の位置 */
    .snsbtniti{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;	
    }
    /* アイコン同士の余白 */
    .snsbtniti li{
    text-align:center!important;
    
    }
    .btn-flat-border {
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: #67c5ff;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;
      }
      
      .btn-flat-border:hover {
        background: #67c5ff;
        color: white;
      }

    .nav-drawer{
        display: none;
      }
 
      ul {
        list-style: none;
        margin: 0;
        display: flex;
     }
     li {
      margin: 0 0 0 25px;
      font-size: 14px;
   }



    @media screen and (max-width:480px) {
 
      .square1 {
      display: none;
    }
    
    .square2 {
      margin-top: 40%;
      width: 300px;
      height: 300px;
    }

    .btn--orange{
      visibility: hidden;
    }

    .btn--orange2{
      visibility: visible;
      margin-left: 10%;
    }
    .btn--orange2,
    a.btn--orange2 {
    color: #fff;
    background-color: #eb6100;
  }
    .btn--orange2:hover,
    a.btn--orange2:hover {
    color: #fff;
    background: #f56500;
  }

  .flowbtn10{
    margin-top: 80%;
  }

  .sitasen{
    margin-right: 0%;
  }
     
    }

    @media screen and (max-width:1540px){
      .square1{
        width: 400px;
        height: 400px;
        margin-top: -40%;
      }
    }

    @media screen and (max-width:1085px){
      .square1{
        display: none;
      }
      .square2{
        
      }
    }