.titlesize{
    font-size: 300%;
}
body{
    text-align: center;
}
p{
    margin-top: 3%;
}
@media screen and (max-width: 480px){
    p{
        font-size: 40%;
        margin-top: 10%;
        
    }
}